.symple-player {
    background: #000;
    position: relative;
}
.symple-player.fullscreen {
    width: 100%;
    height: 100%;
}
/*
.symple-player:-webkit-full-screen
.symple-player:-moz-full-screen
.symple-player:-ms-full-screen
.symple-player:-o-full-screen
.symple-player:full-screen
*/

.symple-player-status {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 0px;
    color: #ccc;
    text-shadow: none;
    z-index: 2;
}

.symple-player-message {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    /*
    position: absolute;
    display: none;
    background: #000;
    z-index: 1;
    */
}

.symple-player-message p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ccc;
}

.symple-player-screen {
    width: 100%;
    height: 100%;
    text-align: center;
}

.symple-player-screen .symple-player-frame {
    position: absolute;
}

.symple-player-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 25px;
    text-align: center;
    z-index: 2;
}
